<div class="inner cover">
    <h1 class="cover-heading" id="aboutMe">About Me</h1>
    <script src="js/modernizr.custom.js"></script>
    <script src="js/draggabilly.pkgd.min.js"></script>
    <script src="js/elastiStack.js"></script>
    <script>
        new ElastiStack( document.getElementById( 'elasticstack' ) );
    </script>
    <div class="container-fluid" id="am">
        <ul id="elasticstack" class="elasticstack">
            <li class="es"><img src="img/bestDay.jpg" alt="01"/>Drag in any direction for next photo</li>
            <li class="es"><img src="img/piratesCove.jpg" alt="02"/></li>
            <li class="es"><img src="img/glen.jpg" alt="03"/></li>
            <li class="es"><img src="img/theMsAndI.jpg" alt="04"/></li>
            <li class="es"><img src="img/batman.jpg" alt="05"/></li>
        </ul>
    </div>
    <div class="container-fluid" id="about">
        <p> Hi, my name is Jason Avery and I am a Web Developer/Software Engineer.</p>
        <p>I live in Baraboo Wisconsin with my fiance Heidi, our son James, and her daughter Ashley. Some of my hobbies are hiking, watching movies, and hanging out with my family. I love to work as part of a team and enjoy solving puzzles.
            After becoming a father a few years ago I decided to enroll back in school to persue a rewarding career.  After my first programming course I fell in love with learning to code.</p>
        <p>I enrolled in the Web Software Development program at Madison Area Technical College and graduated in December 2016.  My focus while at school was in the Java programming langauge but I also learned a lot about front-end development and database management.
                Over the past summer (2016) I completed a Web Developer internship at Trident Contract Management in Madison Wisconsin, which was a really great experience. I was able to work on real projects for clients using the Salesforce environment.
                My future goal is to earn an entry level position where I can grow as a developer.</p>
    </div>
</div>
