<div class="inner cover inside">
    <h1 class="cover-heading" id="classes">Courses</h1>
    <div class="container-fluid">
        <table class="table">
            <thead>
                <tr>
                    <th>Courses</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Intro Prog with JavaScript</td>
                    <td>Teaches the basic concepts of programming using the JavaScript language. Topics include: embedding JavaScript in HTML, event-driven programming techniques, program control logic, and an introduction to object-oriented programming.</td>
                </tr>
                <tr>
                    <td>Intro to Database</td>
                    <td>Introduces the student to relational database concepts using the MS Access database environment. Students then study concepts that lead to good relational database design including an introduction to normalization. Basic SQL statements are practiced also.</td>
                </tr>
                <tr>
                    <td>Website Development-XHTML</td>
                    <td>Teaches the fundamentals and techniques of developing business websites using XHTML-compliant HTML5. Topics include webpage design, tables, image manipulation, image maps, forms, cascading style sheets (CSS) and an introduction to JavaScript in conjunction with forms. All work is done directly with HTML5</td>
                </tr>
                <tr>
                    <td>Advanced Website Development-XML</td>
                    <td>Provides the student with experience in the design and implementation of business Internet websites using advanced command syntax. Topics include: JavaScript, browser object models, dynamic HTML, advanced cascading style sheets (CSS), XML, document type definitions, extensible stylesheet language transformations (XSLT), and XML schemas.</td>
                </tr>
                <tr>
                    <td>Java Programming</td>
                    <td>Introduces programming and object-oriented design concepts using the Java programming language. Students learn all the Java programming basics and use a simple text editor as a development environment. Design concepts and programming tools will be integrated with an emphasis on practical business solutions.</td>
                </tr>
                <tr>
                    <td>SQL Database Programming</td>
                    <td>Presents relational database concepts and teaches beginning to intermediate Structured Query Language (SQL) using an Oracle database. Students learn to create and maintain database objects and to store, retrieve, and manipulate data. Demonstrations and hands-on practice reinforce the fundamental concepts</td>
                </tr>
                <tr>
                    <td>Object-Oriented Design w/UML</td>
                    <td>Practical, introductory-level systems analysis experience. Emphasis is on the physical system elements: data design (record, file, database and entity-relationship diagrams), object-oriented design (use case, class and sequence diagrams), user interface design (screen and report) and system interface design (platforms and factoring). The use of CASE tools is integrated throughout the course. </td>
                </tr>
                <tr>
                    <td>PHP Web with MySQL</td>
                    <td>This course introduces the student to dynamic web page development using the PHP programming language. Students will learn how PHP works, how to effectively use many of it's powerful features, and how to design and build their own PHP web applications. The popular MySQL open source database management software (DBMS) will also be introduced as a powerful backend for PHP websites.</td>
                </tr>
                <tr>
                    <td>Advanced Java Programming</td>
                    <td>Focuses on the server side of application programming for the web. Topics include: Java servlets, database access with JDBC, JavaServer Pages and JavaBeans. A portion of the class deals with application design issues in a web environment.</td>
                </tr>
                <tr>
                    <td>Object-Oriented Sys Analysis</td>
                    <td>In this course, the student learns to analyze the business organization as a system, to structure both the information and processes of a business or organization, and to complete the systems development process through the logical design phase. The course utilizes an object-oriented methodology for the systems development process. </td>
                </tr>
                <tr>
                    <td>iOS Development</td>
                    <td>The purpose of this course is to introduce students to the development of iOS applications (e.g., iPhone/iPad/iPod/Apple Watch devices). Students will work with modern development concepts using the Swift programming language. Students will be introduced to Object-Orientation, Functional Programming, event-driven programming, and multi-threaded programming. Students will start developing iOS applications using the Xcode IDE and the iOS Simulator.</td>
                </tr>
                <tr>
                    <td>Linux Server</td>
                    <td>Introduces Linux with a focus on system administration skills. Topics include installation, file and directory management, command execution, input/output redirection and pipes, shell scripts, network services, security, troubleshooting and the X Window system.
                    </td>
                </tr>
                <tr>
                    <td>Enterprise Java Programming</td>
                    <td>The third class of the Java sequence explores advanced concepts related to development within an enterprise environment. Topics include: information assurance and programmatic security, unit and regression testing, iterative development, parallelism, data access architectures, programmatic XML, and distributed object architectures.</td>
                </tr>
                <tr>
                    <td>AJAX and JavaScript Web Dev</td>
                    <td>AJAX turns static web pages into interactive applications, allowing you to deploy rich-client applications. Course covers the basics of DHTML, JavaScript, and the XmlHttpRequest call. Students learn how to add JavaScript and AJAX to existing programs, and design new applications to exploit the power of Web 2.0. Students learn the three layers of AJAX framework, and when (and how) to use each. Students learn how to create rich clients, use visual effects, add client-side validation, and handle forms.
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
