<div class="inner cover inside">
    <h1 class="cover-heading" id="resume">RESUME</h1>
    <div id="download">
        <a href="JasonAveryResume.pdf" download>Download</a>
    </div>
    <div class="container-fluid">
        <h1>Objective</h1>
        <p>I am looking for an opportunity to apply a passion of programming and technology into an entry level development position.</p>
    </div>
    <div class="container-fluid">
        <h2>Skills</h2>
        <table class="table">
            <tbody>
                <tr>
                    <th>Languages</th><th>Tools</th>
                </tr>
                <tr>
                    <td><ul>
                        <li>Java</li>
                        <li>HTML/CSS</li>
                        <li>JavaScript</li>
                        <li>JQuery</li>
                        <li>SQL</li>
                        <li>PHP</li>
                        <li>Visualforce</li>
                        <li>Apex</li>
                        <li>AngularJS</li>
                    </ul></td>
                    <td><ul>
                        <li>IntelliJ</li>
                        <li>Bootstrap</li>
                        <li>Apache Tomcat</li>
                        <li>MS Access</li>
                        <li>Git</li>
                        <li>Github</li>
                        <li>Slack</li>
                        <li>Salesforce</li>
                        <li>Linux/Ubuntu</li>
                    </ul></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="container-fluid">
        <h1>Education</h1>
        <h2>Madison College, Madison WI</h2>
        <ul>
            <li>Associate Degree in Web Software Development</li>
            <li>Graduated December 16, 2016</li>
            <li>3.8 GPA</li>
        </ul>
    </div>
    <div class="container-fluid">
        <h1>Work Experience</h1>
        <h2>Trident Contract Management, Madison WI</h2>
        <p>Web Development Intern</br>June 2016 - September 2016</p>
        <ul>
            <li>Worked on real applications within the Salesforce environment for multiple clients.</li>
            <li>Developed Visualforce Pages using CSS, HTML, Apex Triggers, Apex Classes, Standard/Custom controllers, and Visualforce components.</li>
            <li>Created Apex test classes and methods with minimum 80% code coverage. </li>
            <li>Used JQuery and JavaScript for front-end validation.</li>
            <li>Created Custom objects, Page layouts, Custom tabs, Formula Fields, Cross Object Formulas, Roll-up summary fields, Validation rules, Workflow rules, Approval processes, to suit the applications needs. </li>
        </ul>
    </div>
</div>
